---
apiVersion: v1
data:
  accesskey: oeph7xaerae4keyieM7Ohlohfohothiegh7eeK4cuijooboh
  secretkey: eisohzizoosudedoonahth8Iedo6eigazooheeGh9Viefoot
kind: Secret
metadata:
  creationTimestamp: null
  name: minio-creds-secret
  namespace: default

---
apiVersion: v1
data:
  CONSOLE_ACCESS_KEY: Si9ahbeh
  CONSOLE_SECRET_KEY: hu1Oathie2eighua2gei5Ahchohjai9Ku0eiNeroof4iem0a
kind: Secret
metadata:
  creationTimestamp: null
  name: minio-user-1
  namespace: default
